*{
    box-sizing: border-box;
}

/* sheyaring style */

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background: linear-gradient( 66deg ,#F7E93F, #FA5B89, #FB09B4, #9100F8);
    padding: 12px 20px;
    border-radius: 10000px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600px;
}

.review-number{
    color: #00FF88;
    font-size: 48px;
    font-weight: 900px;
    margin-bottom: 16px;
}

.review-paragraph{
    font-size: 16px;
    line-height: 20px;
    color: #ffffff91;
    font-weight: 400px;
}

.container{
    max-width: 1600px;
}


/* Main style */

nav{
    max-width: 1600px;
    background: linear-gradient(#1A0B2E, #412567);
}

nav li a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500px;
    line-height: 120%;
}

.hero-section{
    max-width: 1600px;
    height: 760px;
    background-image:url(../assets/hero-bg.png) ;
}

.hero-circle{
    position: relative;
    top: 110px;
    left: 625px;
}

.microphone{
    position: absolute;
    top: 270px;
    left: 750px;
    z-index: 10;
}

.new-logo{
    width: 75px;
    height: 35px;
    background-color: #00FF88;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px #00FF88;
    font-size: 18px;
    font-weight: 600px;
    color: #1A0B2E;
    padding-top: 4px ;
    position: absolute;
    top: 210px;
    left: 888px;
}

.ph-line-height{
    line-height: 20px;
    font-size: 16px;

}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px),100px;
    gap: 30px;
}

.card{
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
    
}

.card-container .card h3{
    color: #FFFFFF;
    margin: 16px 0px;
    font-size: 24px;
    font-weight: 700px;
}

.card-container .card p{
    color: #ffffff91;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    margin-bottom: 40px;
}
